<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="bsc_mine_hub"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">
        <activity
            android:name=".MainActivity"
            android:exported="true"
           
